@import '../../../index.scss';

h1{
  color: #d8fff7;
}

.container-padre{

  display: flex;
  position: relative;
}
.container-arbol{
  flex:1;
  text-align: left;

  position:absolute;
  
}

.imagen-arbol{
  width: 60rem;
  height: 35rem;
  

 
  padding: 0px 0px;
  margin: 0rem 12rem;

}

.container {
  // margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 0rem;
 
  margin: 0rem 20rem;

  //gap: 1rem;
  height:30rem;
  width:50rem;
  z-index: 1;
  
  background-color: rgba(255, 255, 255, 0.455);
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: -20px 20px 20px 0px  rgba(0, 0, 0, 0.5); 
}

.container-inputpadre{
  display: flex;
}
.container-input, .container-input2{
  flex: 1; /* Para que ambos ocupen el mismo espacio */
  display: flex;
  flex-direction: column; /* Para apilar los inputs verticalmente */
  
}
.container-input2{
  margin-left: 5rem; /* Espacio entre los grupos de inputs */
}
.Full-name{
 
  width: 12rem;
  height: 2.8rem;
  margin: 1rem;
  background-color: antiquewhite;
}
.Address{
  width: 12rem;
  height: 2.8rem;
  // padding: 7px;
  margin: 1rem;
  background-color: antiquewhite;
  display: flex;
}

.input_password{
  width: 12rem;
  height: 2.8rem;
  // padding: 7px;
  margin: 1rem;
  background-color: antiquewhite;
  display: flex;

}

.Email-address{
  width: 12rem;
  height: 2.8rem;
  // padding: 7px;
  margin: 1rem;
  background-color: antiquewhite;
  display: flex;
}

.phone{
  width: 12rem;
  height: 2.8rem;
  // padding: 7px;
  margin: 1rem;
  background-color: antiquewhite;
  display: flex;
}

.Confirm-Password{
  width: 12rem;
  height: 2.8rem;
  // padding: 7px;
  margin: 1rem;
  background-color: antiquewhite;
  display: flex;
}


.div_check{
  width: 300px;
  padding: 10px 0px;
}

.label_check{
  color:#E2FFD8;
  padding: 0px 5px;
  font-size: 18px;
}

.input_check{
  transform: scale(1.5);
}

.div_boton{
  margin: 10px 0px 5px 0px;
}

.P_text{
  margin: 0px;
}